@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/* line 13, Z:/Sites/web designs/fake_product02/scss/style.scss */
body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Roboto", sans-serif; }

/* line 22, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-container {
  width: 100%;
  height: 100%; }

/* line 28, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-container {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 33.3%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* line 40, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-left-side-container {
  float: left;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  background-color: #F0F0F0; }

/* line 51, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-left-side-container p {
  font-size: 4vw;
  color: #0F0F0F; }

/* line 57, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-container h1 {
  position: absolute;
  font-size: 4vw;
  left: 0;
  top: 0;
  margin: auto;
  color: #0F0F0F; }

/* line 67, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-container h4 {
  position: absolute;
  font-size: 4vw;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #F0F0F0; }

/* line 77, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-middle-container {
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  float: left;
  background-image: url(/images/black_white_shoes03.jpg);
  background-size: cover;
  background-position: center; }

/* line 89, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-right-side-container {
  float: right;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  background-color: #0F0F0F; }

/* line 100, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-right-side-container p {
  font-size: 4vw;
  color: #F0F0F0; }

/* line 106, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-gallery-container-top {
  z-index: 1;
  width: 100%;
  height: 35%;
  background-color: #0F0F0F; }

/* line 116, Z:/Sites/web designs/fake_product02/scss/style.scss */
.image-clip-container {
  width: 25%;
  height: 100%;
  float: left;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin-left: -12.5%; }

/* line 126, Z:/Sites/web designs/fake_product02/scss/style.scss */
.image-clip-container img {
  width: 100%;
  height: 100%;
  margin: auto; }

/* line 133, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend {
  position: absolute;
  width: 25%;
  height: 35%;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  right: -12.5%; }

/* line 143, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend img {
  width: 100%;
  height: 100%;
  margin: auto; }

/* line 151, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-gallery-container-bot {
  z-index: 1;
  width: 100%;
  height: 35%;
  background-color: #0F0F0F;
  position: absolute;
  bottom: 0; }

/* line 161, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend-bot {
  position: absolute;
  width: 25%;
  height: 100%;
  float: left;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  right: -12.5%; }

/* line 172, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend-bot img {
  width: 100%;
  height: 100%;
  margin: auto; }

@media (max-width: 480px) {
  /* line 181, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .image-clip-container {
    width: 50%;
    margin-left: -25%; }
  /* line 187, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #image-clip-rightend {
    width: 50%;
    right: -25%; }
  /* line 193, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #image-clip-rightend-bot {
    width: 50%;
    right: -25%; } }

/*# sourceMappingURL=style.css.map */