@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Anton);
/* line 15, Z:/Sites/web designs/fake_product02/scss/style.scss */
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Roboto", sans-serif; }

/* line 24, Z:/Sites/web designs/fake_product02/scss/style.scss */
.content-container {
  width: 100%;
  height: 100%; }

/* line 30, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-container {
  position: relative;
  z-index: 100;
  height: 34%;
  width: 100%;
  font-family: "Anton", sans-serif;
  /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/ }

/* line 43, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-container a {
  list-style-type: none;
  text-decoration: none; }

/* line 49, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-left-side-container {
  float: left;
  width: 25%;
  height: 100%;
  background-color: #F0F0F0; }

/* line 57, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-left-side-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  line-height: 17.5vh;
  color: #0F0F0F; }

/* line 67, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-middle-container-h1-black h1 {
  position: absolute;
  font-size: 10vh;
  left: 10px;
  top: 0px;
  margin: auto;
  color: #0F0F0F; }

/* line 77, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-middle-container-h1-white h1 {
  position: absolute;
  font-size: 10vh;
  right: 10px;
  bottom: 0px;
  margin: auto;
  color: #F0F0F0; }

/* line 87, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-middle-container {
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  float: left;
  overflow: hidden;
  background-image: url(../images/minified_1024/black_white_shoes04_min1024.jpg);
  background-size: cover;
  background-position: center; }

/* line 100, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-right-side-container {
  float: left;
  width: 25%;
  height: 100%;
  background-color: #0F0F0F; }

/* line 108, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-right-side-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  line-height: 17.5vh;
  color: #F0F0F0; }

/* line 118, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-gallery-container-top {
  z-index: 1;
  width: 100%;
  height: 33.3%;
  background-color: #0F0F0F; }

/* line 126, Z:/Sites/web designs/fake_product02/scss/style.scss */
.full-screen-image-container {
  width: 100vw;
  height: auto;
  margin: auto;
  display: none; }

/* line 134, Z:/Sites/web designs/fake_product02/scss/style.scss */
.image-clip-container {
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin-left: -25%; }

/* line 145, Z:/Sites/web designs/fake_product02/scss/style.scss */
.image-clip-container img {
  max-width: 100%;
  height: auto; }

/* line 151, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-gallery-container-bot {
  z-index: 1;
  width: 100%;
  height: 33.3%;
  background-color: #0F0F0F;
  position: absolute;
  bottom: 0; }

/* line 161, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend {
  display: block;
  position: absolute;
  width: 25%;
  height: 33.3%;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  right: -12.5%; }

/* line 172, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend img {
  width: auto;
  max-height: 100%;
  margin: auto; }

/* line 179, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend-bot {
  display: block;
  position: absolute;
  width: 25%;
  height: 100%;
  float: left;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  right: -12.5%; }

/* line 191, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend-bot img {
  width: auto;
  max-height: 100%;
  margin: auto; }

/* line 198, Z:/Sites/web designs/fake_product02/scss/style.scss */
#body-shop {
  background: linear-gradient(to right, #F0F0F0 0%, #F0F0F0 50%, #0F0F0F 50%, #0F0F0F 100%);
  overflow-y: auto;
  width: 100vw; }

/* line 205, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-container-shop {
  width: 100vw;
  height: auto; }

/* line 211, Z:/Sites/web designs/fake_product02/scss/style.scss */
#title-container {
  position: relative;
  height: 25vh;
  width: 100vw;
  margin: auto; }

/* line 219, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-shop-title-absolute-left {
  width: 50vw;
  height: 25vh;
  text-align: right;
  position: absolute;
  top: 0; }

/* line 228, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-shop-title-absolute-left h1 {
  font-size: 10vh;
  color: #0F0F0F; }

/* line 234, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-shop-title-absolute-right {
  width: 50vw;
  height: 25vh;
  margin-left: 50%;
  text-align: left;
  position: absolute;
  top: 0; }

/* line 244, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-shop-title-absolute-right h1 {
  font-size: 10vh;
  color: #F0F0F0; }

/* line 250, Z:/Sites/web designs/fake_product02/scss/style.scss */
.content-shop-image-gallery-black {
  position: relative;
  background-color: #0F0F0F;
  float: left; }

/* line 257, Z:/Sites/web designs/fake_product02/scss/style.scss */
.content-shop-image-gallery-black-right {
  position: relative;
  background-color: #0F0F0F;
  float: right;
  margin-right: -17px; }

/* line 265, Z:/Sites/web designs/fake_product02/scss/style.scss */
.content-shop-image-gallery-white {
  position: relative;
  background-color: #F0F0F0;
  float: right; }

/* line 272, Z:/Sites/web designs/fake_product02/scss/style.scss */
.content-shop-image-gallery-white-left {
  position: relative;
  background-color: #F0F0F0;
  float: left; }

/* line 279, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-gallery-container {
  width: 45vw;
  height: 25vw;
  display: block;
  overflow: hidden;
  padding: 2.5vw; }

/* line 288, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-text-white {
  text-align: left;
  width: 35vw;
  height: auto;
  margin-top: -2.5vh;
  margin-left: 2.5vw;
  color: #F0F0F0;
  float: left; }

/* line 299, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-text-black {
  text-align: left;
  width: 35vw;
  height: auto;
  margin-top: -2.5vh;
  margin-left: 2.5vw;
  color: #0F0F0F;
  float: left; }

/* line 310, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-icons-container {
  width: auto;
  height: auto;
  float: right;
  margin-right: 2.5vw; }

/* line 318, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-icons-medium-cart-white {
  width: 64px;
  height: 64px;
  background-image: url("../images/icons/spritesheet_shopcartIcon_64.png");
  background-position: 0px 0px;
  background-repeat: no-repeat; }

/* line 327, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-icons-medium-heart-white {
  width: 64px;
  height: 64px;
  background-image: url("../images/icons/spritesheet_heartIcon_64.png");
  background-position: 0px 0px;
  background-repeat: no-repeat; }

/* line 336, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-icons-medium-heart-white:active {
  background-position: 0px -128px; }

/* line 341, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-icons-medium-cart-black {
  width: 64px;
  height: 64px;
  background-image: url("../images/icons/spritesheet_shopcartIcon_64.png");
  background-position: 0px -64px;
  background-repeat: no-repeat; }

/* line 350, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-icons-medium-heart-black {
  width: 64px;
  height: 64px;
  background-image: url("../images/icons/spritesheet_heartIcon_64.png");
  background-position: 0px -64px;
  background-repeat: no-repeat; }

/* line 359, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-icons-medium-heart-black:active {
  background-position: 0px -192px; }

/* line 364, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-gallery-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

/* line 372, Z:/Sites/web designs/fake_product02/scss/style.scss */
#contact-body {
  background: linear-gradient(#F0F0F0 0%, #F0F0F0 50%, #0F0F0F 50%, #0F0F0F 100%);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0 auto; }

/* line 381, Z:/Sites/web designs/fake_product02/scss/style.scss */
#contact-title-black {
  position: absolute;
  width: 100vw;
  height: 50vh; }

/* line 388, Z:/Sites/web designs/fake_product02/scss/style.scss */
#contact-title-black h1 {
  text-align: center;
  font-size: 10vh;
  margin: auto;
  margin-top: 15vh; }

/* line 396, Z:/Sites/web designs/fake_product02/scss/style.scss */
#contact-info-white {
  position: absolute;
  margin-top: 50vh;
  width: 100vw;
  height: 50vh; }

/* line 404, Z:/Sites/web designs/fake_product02/scss/style.scss */
.contact-info-container {
  position: relative;
  width: 33.3vw;
  height: 50vh;
  float: left;
  text-align: center;
  font-size: 5vh;
  color: #F0F0F0; }

/* line 415, Z:/Sites/web designs/fake_product02/scss/style.scss */
#contact-info-phone {
  width: 128px;
  height: 128px;
  background-image: url("../images/icons/spritesheet_heartIcon_128.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 2.5vh; }

/* line 426, Z:/Sites/web designs/fake_product02/scss/style.scss */
#contact-info-mail {
  width: 128px;
  height: 128px;
  background-image: url("../images/icons/spritesheet_heartIcon_128.png");
  background-position: 0px -256px;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 2.5vh; }

/* line 437, Z:/Sites/web designs/fake_product02/scss/style.scss */
#contact-info-twitter {
  width: 128px;
  height: 128px;
  background-image: url("../images/icons/spritesheet_heartIcon_128.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 2.5vh; }

/* line 448, Z:/Sites/web designs/fake_product02/scss/style.scss */
.home-button-container {
  position: relative;
  width: 128px;
  height: 128px;
  float: right;
  margin-right: 2.5vw;
  list-style-type: none; }

@media screen and (max-width: 1080px) {
  /* line 460, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .full-screen-image-container {
    display: block; }
  /* line 465, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .image-clip-container {
    display: none; }
  /* line 470, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #image-clip-rightend {
    display: none; }
  /* line 475, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #image-clip-rightend-bot {
    display: none; }
  /* line 480, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #middle-content-container p {
    font-size: 5vh;
    line-height: 22.5vh; }
  /* line 486, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #middle-content-middle-container-h1-black h1 {
    font-size: 4vh; }
  /* line 491, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #middle-content-middle-container-h1-white h1 {
    font-size: 4vh; }
  /* line 496, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .shop-image-text-white {
    width: 30vw;
    margin-top: -1vh;
    font-size: 1vh; }
  /* line 503, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .shop-image-text-black {
    width: 30vw;
    margin-top: -1vh;
    font-size: 1vh; }
  /* line 510, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .shop-image-icons-medium-cart-white {
    width: 32px;
    height: 32px;
    background-image: url("../images/icons/spritesheet_shopcartIcon_32.png"); }
  /* line 517, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .shop-image-icons-medium-heart-white {
    width: 32px;
    height: 32px;
    background-image: url("../images/icons/spritesheet_heartIcon_32.png"); }
  /* line 524, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .shop-image-icons-medium-cart-black {
    width: 32px;
    height: 32px;
    background-image: url("../images/icons/spritesheet_shopcartIcon_32.png");
    background-position: 0px -32px; }
  /* line 532, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .shop-image-icons-medium-heart-black {
    width: 32px;
    height: 32px;
    background-image: url("../images/icons/spritesheet_heartIcon_32.png");
    background-position: 0px -32px; }
  /* line 540, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .content-shop-image-gallery-white-left {
    margin-right: -17px; }
  /* line 545, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .content-shop-image-gallery-black-right {
    margin-right: -17px; }
  /* line 550, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .contact-info-container {
    font-size: 2.5vh; }
  /* line 555, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #contact-info-phone {
    width: 64px;
    height: 64px;
    background-image: url("../images/icons/spritesheet_heartIcon_64.png");
    background-position: 0px 0px; }
  /* line 563, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #contact-info-mail {
    width: 64px;
    height: 64px;
    background-image: url("../images/icons/spritesheet_heartIcon_64.png");
    background-position: 0px -128px; }
  /* line 571, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #contact-info-twitter {
    width: 64px;
    height: 64px;
    background-image: url("../images/icons/spritesheet_heartIcon_64.png");
    background-position: 0px 0px; } }

/*# sourceMappingURL=style.css.map */