@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Anton);
/* line 15, Z:/Sites/web designs/fake_product02/scss/style.scss */
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Roboto", sans-serif; }

/* line 24, Z:/Sites/web designs/fake_product02/scss/style.scss */
.content-container {
  width: 100%;
  height: 100%; }

/* line 30, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-container {
  position: relative;
  z-index: 100;
  height: 34%;
  width: 100%;
  font-family: "Anton", sans-serif;
  /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/ }

/* line 43, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-left-side-container {
  float: left;
  width: 25%;
  height: 100%;
  background-color: #F0F0F0; }

/* line 51, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-left-side-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  line-height: 17.5vh;
  color: #0F0F0F; }

/* line 61, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-middle-container-h1-black h1 {
  position: absolute;
  font-size: 10vh;
  left: 10px;
  top: 0px;
  margin: auto;
  color: #0F0F0F; }

/* line 71, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-middle-container-h1-white h1 {
  position: absolute;
  font-size: 10vh;
  right: 10px;
  bottom: 0px;
  margin: auto;
  color: #F0F0F0; }

/* line 81, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-middle-container {
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  float: left;
  background-image: url(/images/minified_1024/black_white_shoes04_min1024.jpg);
  background-size: cover;
  background-position: center; }

/* line 93, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-right-side-container {
  float: left;
  width: 25%;
  height: 100%;
  background-color: #0F0F0F; }

/* line 101, Z:/Sites/web designs/fake_product02/scss/style.scss */
#middle-content-right-side-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  line-height: 17.5vh;
  color: #F0F0F0; }

/* line 111, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-gallery-container-top {
  z-index: 1;
  width: 100%;
  height: 33.3%;
  background-color: #0F0F0F; }

/* line 119, Z:/Sites/web designs/fake_product02/scss/style.scss */
.full-screen-image-container {
  width: 100vw;
  height: auto;
  margin: auto;
  display: none; }

/* line 127, Z:/Sites/web designs/fake_product02/scss/style.scss */
.image-clip-container {
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin-left: -25%; }

/* line 138, Z:/Sites/web designs/fake_product02/scss/style.scss */
.image-clip-container img {
  max-width: 100%;
  height: auto; }

/* line 144, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-gallery-container-bot {
  z-index: 1;
  width: 100%;
  height: 33.3%;
  background-color: #0F0F0F;
  position: absolute;
  bottom: 0; }

/* line 154, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend {
  display: block;
  position: absolute;
  width: 25%;
  height: 33.3%;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  right: -12.5%; }

/* line 165, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend img {
  width: auto;
  max-height: 100%;
  margin: auto; }

/* line 172, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend-bot {
  display: block;
  position: absolute;
  width: 25%;
  height: 100%;
  float: left;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  right: -12.5%; }

/* line 184, Z:/Sites/web designs/fake_product02/scss/style.scss */
#image-clip-rightend-bot img {
  width: auto;
  max-height: 100%;
  margin: auto; }

/* line 191, Z:/Sites/web designs/fake_product02/scss/style.scss */
#body-shop {
  background: linear-gradient(to right, #F0F0F0 0%, #F0F0F0 50%, #0F0F0F 50%, #0F0F0F 100%); }

/* line 196, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-container-shop {
  width: 100vw;
  height: 100vh;
  margin: 0 auto; }

/* line 203, Z:/Sites/web designs/fake_product02/scss/style.scss */
#title-container {
  position: relative;
  height: 25vh;
  width: 100vw;
  margin: auto; }

/* line 210, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-shop-title-absolute-left {
  width: 50vw;
  height: 25vh;
  text-align: right;
  position: absolute;
  top: 0; }

/* line 219, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-shop-title-absolute-left h1 {
  font-size: 10vh;
  color: #0F0F0F; }

/* line 225, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-shop-title-absolute-right {
  width: 50vw;
  height: 25vh;
  margin-left: 50%;
  text-align: left;
  position: absolute;
  top: 0; }

/* line 235, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-shop-title-absolute-right h1 {
  font-size: 10vh;
  color: #F0F0F0; }

/* line 241, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-shop-image-gallery-left {
  width: 50vw;
  height: 50vw;
  position: relative;
  background-color: #0F0F0F;
  float: left; }

/* line 250, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-gallery-center {
  width: 50vw;
  height: 50vw;
  margin: 0 auto; }

/* line 257, Z:/Sites/web designs/fake_product02/scss/style.scss */
#content-shop-image-gallery-right {
  width: 50vw;
  height: 50vw;
  position: relative;
  background-color: #F0F0F0;
  float: right; }

/* line 266, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-gallery-container {
  width: 45vw;
  height: 30vw;
  display: block;
  overflow: hidden;
  padding: 2.5vw; }

/* line 275, Z:/Sites/web designs/fake_product02/scss/style.scss */
.shop-image-gallery-container img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto; }

@media screen and (max-width: 1080px) {
  /* line 285, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .full-screen-image-container {
    display: block; }
  /* line 290, Z:/Sites/web designs/fake_product02/scss/style.scss */
  .image-clip-container {
    display: none; }
  /* line 295, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #image-clip-rightend {
    display: none; }
  /* line 300, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #image-clip-rightend-bot {
    display: none; }
  /* line 305, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #middle-content-container p {
    font-size: 5vh;
    line-height: 22.5vh; }
  /* line 311, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #middle-content-middle-container-h1-black h1 {
    font-size: 4vh; }
  /* line 316, Z:/Sites/web designs/fake_product02/scss/style.scss */
  #middle-content-middle-container-h1-white h1 {
    font-size: 4vh; } }

/*# sourceMappingURL=style.css.map */