//import fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

//font variables
$font-normal: 'Roboto', sans-serif;

//variables
$primary-color: #F0F0F0;
$primary-color-accent: #567; 
$secondary-color: #0F0F0F;
$secondary-color-accent: #789;

body
{
    width: 100vw;
    height: 100vh;
    margin: 0 auto; 
    overflow: hidden; 
    font-family: $font-normal;
}

#content-container
{
    width: 100%; 
    height: 100%;
}

#middle-content-container
{
    position: absolute;
    z-index: 100;
    width: 100vw;
    min-width: 100vw;
    height: 33.3%;
    top: 33.3%;
    left: 0;
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
}

#middle-content-left-side-container
{
    float: left;
    width: 25%;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-color: $primary-color;
}

#middle-content-left-side-container p
{
    font-size: 4vw;
    color: $secondary-color;
}

#middle-content-container h1
{
    position: absolute;
    font-size: 4vw;
    left: 0;
    top: 0;
    margin: auto;
    color: $secondary-color;
}

#middle-content-container h4
{
    position: absolute;
    font-size: 4vw;
    right: 0;
    bottom: 0;
    margin: auto;
    color: $primary-color;
}

#middle-content-middle-container
{
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    float: left;
    background-image: url(/images/black_white_shoes03.jpg);
    background-size: cover;
    background-position: center;
}

#middle-content-right-side-container
{
    float: right;
    width: 25%;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-color: $secondary-color;
}

#middle-content-right-side-container p
{
    font-size: 4vw;
    color: $primary-color;
}

#image-gallery-container-top
{
    z-index: 1;
    width: 100%;
    height: 35%;
    top: 0;
    background-color: $secondary-color;
    //position: absolute; use this for mobile response in chrome inspector
    //top: 0
}

.image-clip-container
{
    width: 25%;
    height: 100%;
    float: left;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin-left: -12.5%;
}

.image-clip-container img
{
    width: auto;
    height: 100%;
    margin: auto;
}

#image-clip-rightend
{
    position: absolute;
    width: 25%;
    height: 35%;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    right: -12.5%;
}

#image-clip-rightend img
{
    width: 100%;
    height: 100%;
    margin: auto;
}


#image-gallery-container-bot
{
    z-index: 1;
    width: 100%;
    height: 35%;
    background-color: $secondary-color;
    position: absolute;
    bottom: 0;
}

#image-clip-rightend-bot
{
    position: absolute;
    width: 25%;
    height: 100%;
    float: left;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    right: -12.5%;
}

#image-clip-rightend-bot img
{
    width: 100%;
    height: 100%;
    margin: auto;
}

@media (max-width: 480px)
{
    .image-clip-container
    {
        width: 50%;
        margin-left: -25%;
    }
    
    #image-clip-rightend
    {
        width: 50%;
        right: -25%;
    }
    
    #image-clip-rightend-bot
    {
        width: 50%;
        right: -25%;
    }
    
    #image-gallery-container-top:nth-child(5n)
    {
        display: none;
    }
}
