//import fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Anton);

//font variables
$font-normal: 'Roboto', sans-serif;
$font-head: 'Anton', sans-serif;

//variables
$primary-color: #F0F0F0;
$primary-color-accent: #567; 
$secondary-color: #0F0F0F;
$secondary-color-accent: #789;

body
{
    width: 100vw;
    height: 100vh;
    margin: 0 auto; 
    overflow: hidden; 
    font-family: $font-normal;
}

#content-container
{
    width: 100%; 
    height: 100%;
}

#middle-content-container
{
    position: relative;
    z-index: 100;
    height: 34%;
    width: 100%;
    font-family: $font-head;
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
}

#middle-content-left-side-container
{
    float: left;
    width: 25%;
    height: 100%;
    background-color: $primary-color;
}

#middle-content-left-side-container p
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vh;
    line-height: 17.5vh;
    color: $secondary-color;
}

#middle-content-middle-container-h1-black h1
{
    position: absolute;
    font-size: 10vh;
    left: 10px;
    top: 0px;
    margin: auto;
    color: $secondary-color;
}

#middle-content-middle-container-h1-white h1
{
    position: absolute;
    font-size: 10vh;
    right: 10px;
    bottom: 0px;
    margin: auto;
    color: $primary-color;
}

#middle-content-middle-container
{
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    float: left;
    background-image: url(/images/minified_1024/black_white_shoes04_min1024.jpg);
    background-size: cover;
    background-position: center;
}

#middle-content-right-side-container
{
    float: left;
    width: 25%;
    height: 100%;
    background-color: $secondary-color;
}

#middle-content-right-side-container p
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vh;
    line-height: 17.5vh;
    color: $primary-color;
}

#image-gallery-container-top
{
    z-index: 1;
    width: 100%;
    height: 33.3%;
    background-color: $secondary-color;
}

.full-screen-image-container
{
    width: 100vw;
    height: auto;
    margin: auto;
    display: none;
}

.image-clip-container
{
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
     margin-left: -25%;
}

.image-clip-container img
{
        max-width: 100%;
        height: auto;
}

#image-gallery-container-bot
{
    z-index: 1;
    width: 100%;
    height: 33.3%;
    background-color: $secondary-color;
    position: absolute;
    bottom: 0;
}

#image-clip-rightend
{
    display: block;
    position: absolute;
    width: 25%;
    height: 33.3%;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    right: -12.5%;
}

#image-clip-rightend img
{
    width: auto;
    max-height: 100%;
    margin: auto;
}

#image-clip-rightend-bot
{
    display: block;
    position: absolute;
    width: 25%;
    height: 100%;
    float: left;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    right: -12.5%;
}

#image-clip-rightend-bot img
{
    width: auto;
    max-height: 100%;
    margin: auto;
}

@media screen and (max-width: 1080px)
{
    .full-screen-image-container
    {
        display: block;
    }
    
    .image-clip-container
    {
        display: none;
    }
    
    #image-clip-rightend
    {
        display: none;
    }
    
    #image-clip-rightend-bot
    {
        display: none;
    }
    
    #middle-content-container p
    {
        font-size: 5vh;
        line-height: 22.5vh;
    }
    
    #middle-content-middle-container-h1-black h1
    {
        font-size: 4vh;
    }
    
    #middle-content-middle-container-h1-white h1
    {
        font-size: 4vh;
    }
}